button{
			margin-right: 26px;
		}

		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #005aab;

		}

		li{
			float: left;
		}

		li a{
			display: block;
			color: white;
			text-align: center;
			padding: 15px 18px;
			text-decoration: none;
		}

		li a:hover{
			background-color: grey;
		}

		.active{
			background-color: green;
		}

		ul{
			position: fixed;
			top: 0;
			width: 100%;
		}

		
		.header a{
			float: left;
			display: block;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 20px;
		}

		.header a:hover {
   				 background-color: #ddd;
    			color: black;
}



		.container{
		   text-align: center;
		   margin: 0px auto;
		   position: relative;
		   height: 40%;
		   width: 50%;
		   
		}

		.content {
  			color: black;
  			font-size: 70px;
  			padding: 8px 12px;
  			position: absolute;
  			bottom: 2px;
		  	width: 100%;
  			text-align: center;
}

     @media (max-width: 880px) {


		.picture_num {
  			color: #f2f2f2;
  			font-size: 12px;
  			padding: 8px 12px;
  			position: absolute;
  			top: 0;
		}

		h1{

			text-align: center;
		}

		.extra{
			height: 50px;
			height: 50px;
			background-color: black;

		}

		div#aboutContent{
			padding: 20px;
			margin: 20px;
			height: 500px;
			width: 100%;
			background-color: lightblue;
		}
			footer{
			  background-color: #002c18;
			  padding:20px 0px;
			  width: 100%;
			  position: absolute;
			  color:red;
			  text-align: center;
			}
		