html, body {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-color: white;
 display: flex;
  font-family: 'Raleway', sans-serif;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

div.container {
  align-items: center;
  align-self: center;
  background: url('assets/images/communication.jpg')center center;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  min-height: 550px;
  justify-content: center;
  width: 56%;
}
h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  font-weight: 800;
  line-height: 70px;
  margin: 0, 0 60px 0;
  text-align: center;
  /*text-shadow: 0px 2px 4px rgba(34,62,66,.75);*/
  width: 50%;
}

a.btn {
  background: linear-gradient(45deg, rgba(150, 90, 100, 0.70)0%, rgba(255, 124, 189,0.65) 50%,rgba(100,0,143,0.50)100%);
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}

a.btn:hover {
  box-shadow: 0px 4px 4px rgba(34,62,66,.5);
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}

.side{
  align-items: left;
  align-self: left;
  
}

