.head{
			height: auto;
			width: 100%;
            text-align: left;
            background-color: white;
            display: inline-block;
           
		}

		.members{
			height: auto;
			width: 100%;
			text-align: button;
			background-color: green;
		}

		
		div #president{
			display: inline-block;
			padding: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 50px;
			margin-right: 200px;
			width: auto;
       }

		div #vice_president{
			display: inline-block;
			padding: 2px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 50px;
			margin-right: 200px;
			width: auto;
		}


		div #mem{
			display: inline-block;
			margin-right: 70px;
		}
