.modalLogin {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.2);
z-index: 99999;
opacity:0;
pointer-events: none;
text-align:center;
}
.modalLogin:target {
opacity:1;
pointer-events: auto;
}

.modalAdLogin:target {
opacity:1;
pointer-events: auto;
}
.modalLogin > div {
width: 400px;
position: relative;
margin: 10% auto;
background: grey;
height: 280px;
opacity: 0.9;
}

.modalAdLogin > div {
width: 400px;
position: relative;
margin: 10% auto;
background: grey;
height: 250px;
opacity: 0.9;
}
.modalAdLogin {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.2);
z-index: 99999;
opacity:0;
pointer-events: none;
text-align:center;
}

button{
    background-color: lightblue;
    padding: 5px;
    margin-right: 30px;
    margin-left: 50px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

label{
      font-size: 23px;
      font-family: sans-serif;

}

input[type= "text"], input[type= "password"], input[type= "email"]{
    padding: 8px 6px;
    margin: 4px 0;
    margin-right: 50px;
    display: inline-block;

    
}

.button: hover{background-color: grey;}
